<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <div class="container main-container">
            <div class="toolbar d-flex justify-content-between">
                <h2>My Links</h2>
                <div class="toolbar-child d-flex">
                    <div class="create d-flex align-items-center">
                        <button type="button" class="button-create btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#add-modal"><i class="fa-solid fa-plus"></i>New
                            Shortlink</button>
                    </div>
                    <div class="search-bar input-group d-flex align-items-center">
                        <span class="input-group-text fa-solid fa-magnifying-glass"></span>
                        <input type="text" class="search-input form-control" placeholder="Search...">
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/modals/add.ejs') %>
        <%- include('partials/modals/edit.ejs') %>
        <%- include('partials/footer.ejs') %>
</body>

</html>